<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
      article.markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
      }

      article.markdown-body > :first-child {
        margin-top: 1em !important;
      }

      span.line-numbers {
        display: none;
      }

      pre.has-language-ruby::before {
        content: 'ruby';
        padding: 0.5em;
        background: #f0f0f0;
      }

      pre.has-language-ruby {
        margin-top: 5em;
      }
    </style>
    <%= doc.javascripts.values.join('') %>
  </head>
  <body>
    <article class='markdown-body'>
      <%= doc.to_html %>
    </article>

    <script>
      Array.from(document.querySelectorAll('code.language-ruby')).forEach(code_elem => {
        code_elem.parentNode.classList.add("has-language-ruby")
      });
    </script>
  </body>
</html>
